<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- secondary nav bar -->
<%- include(`partials/secondary_nav.views.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.views.ejs`) %>

<section class="ftco-section">
   <div class="container">
      <div class="row justify-content-center pb-5">
         <div class="col-lg-6 heading-section text-center ftco-animate">
            <h2 class="mb-4">More than <span>35+</span> years we provide <span>IT Solution</span></h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="services-2 text-center">
               <div class="icon">
                  <span class="flaticon-web-programming"></span>
               </div>
               <div class="text" style="height: 140px;">
                  <h3>Web Development</h3>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <img src="images/services.svg" class="img-fluid" alt="">
         </div>
         <div class="col-md-4">
            <div class="services-2 text-center">
               <div class="icon">
                  <span class="flaticon-secure"></span>
               </div>
               <div class="text">
                  <h3>Server Security</h3>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section class="ftco-counter ftco-section ftco-no-pt img" id="section-counter">
   <div class="container">
      <div class="row no-gutters d-flex">
         <div class="col-md-6 d-flex">
            <div class="img d-flex align-self-stretch" style="background-image:url(images/about.jpg);"></div>
         </div>
         <div class="col-md-6 p-3 pl-md-5 py-5 bg-primary">
            <div class="row justify-content-start pb-3">
               <div class="col-md-12 heading-section heading-section-white ftco-animate">
                  <h2 class="mb-4">Consult us here in <span>ITSolution</span></h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 mb-4">
                     <div class="text">
                        <strong class="number" data-number="750">0</strong>
                        <span>Project Complete</span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 mb-4">
                     <div class="text">
                        <strong class="number" data-number="568">0</strong>
                        <span>Happy Clients</span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 mb-4">
                     <div class="text">
                        <strong class="number" data-number="478">0</strong>
                        <span>Business Partners</span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 mb-4">
                     <div class="text">
                        <strong class="number" data-number="780">0</strong>
                        <span>IT Consultant</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>




<!-- loader -->
<%- include(`partials/loader.partials.ejs`) %>
<!-- include the footer -->
<%- include(`partials/footer.partials.ejs`) %>