<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- secondary nav bar -->
<%- include(`partials/secondary_nav.views.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.views.ejs`) %>

<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
   <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
         <div class="transculent-bg ftco-animate "data-scrollax="properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">The <br>Address</h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Turning brand loyalist to brand evangelist.</p>
         </div>
      </div>
   </div>
</div>

<section class="ftco-section">
	<div class="container">
	   <div class="row justify-content-center pb-5">
		  <div class="col-lg-6 heading-section text-center ftco-animate">
			 <h2 class="mb-4">Meet Us</h2>
			 <p>The Address is a 360-degrees
				brand marketing communications
				company. We are in the business
				of providing bespoke solutions for
				all companies. We are masters in
				turning brilliant thoughts into
				value-laden solutions.
			</p>
		  </div>
	   </div>
	   <div class="row">
		  <div class="col-md-4">
			 <div class="services-2 text-center">
				<div class="icon">
				   <span class="flaticon-web-programming"></span>
				</div>
				<div class="text">
				   <h3>Media Relations</h3>
				   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			 </div>
        </div>
        
		  <div class="col-md-4">
			 <img src="images/services.svg" class="img-fluid" alt="">
        </div>
        
		  <div class="col-md-4">
			 <div class="services-2 text-center">
				<div class="icon">
				   <span class="flaticon-secure"></span>
				</div>
				<div class="text">
				   <h3>Brand Development and Management</h3>
				   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			 </div>
        </div>
        
	   </div>
	</div>
 </section>


<section class="ftco-section services-section">
   <div class="container">
      <div class="row justify-content-center pb-5">
         <div class="col-md-6 heading-section text-center ftco-animate">
            <h2 class="mb-4">Solutions We Provide</h2>
         </div>
      </div>
      <div class="row d-flex">
         <div class="col-md-3 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-web-programming"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Media Relations</h3>
                  <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
               </div>
            </div>
         </div>
         <div class="col-md-3 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-stats"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Brand Development</h3>
                  <p>A small river named Duden flows by their place and supplies.</p>
               </div>
            </div>
         </div>
         <div class="col-md-3 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-secure"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Corporate Sustainability</h3>
                  <p>A small river named Duden flows by their place and supplies.</p>
               </div>
            </div>
         </div>
         <div class="col-md-3 d-flex align-self-stretch ftco-animate text-center">
            <div class="media block-6 services d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-presentation"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Media Planning and Buying</h3>
                  <p>A small river named Duden flows by their place and supplies.</p>
               </div>
            </div>
		 </div>
   
       <div class="col-12 text-center">
         <a href="/services">Show More</a>
      </div>
   
   
      </div>
</section>

<div class="container">
   <section class="ftco-section services-section">
      <div class="container">
         <div class="row justify-content-center pb-5">
            <div class="col-md-6 heading-section text-center ftco-animate">
               <h2 class="mb-4">Previous Projects</h2>
            </div>
         </div>
         <div class="row d-flex">
            <div class="col-12 offset-md-2 col-md-8 d-flex align-self-stretch ftco-animate text-center">
               <div class="media block-6 d-block">
                  <div class="media-body">
                     <h3 class="heading mb-3">MTN (Consumer Lens Project)</h3>
                     <p>
                        Consumer lens radio, a subordinate of The Address company is an integrated Media platform that seeks to promote businesses and agencies by raising brand awareness and building engagement with the Ghanaian populace. With our presense in 34 radio stations across country coverage. SMEs and organizations have taken advantage of our platforms to get word out about their activities and eventually received the desired results. With this project, the company ran a program where resources persons of MTN addresses customers' challenges and concerns about their products and gather information to help improve the services of their brand.
                        This has been running for the past 10 years for MTN.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-12 offset-md-2 col-md-8 d-flex align-self-stretch ftco-animate text-center">
               <div class="media block-6 d-block">
                  <div class="media-body">
                     <h3 class="heading mb-3">Total Ghana</h3>
                     <p>
                        As a company, we organized a general road safety campaign themed "Drive Alive" to educate station drivers, fire service personnel, road safety commission and MTTU (Motor Transport and Traffic Directorate) on road safety measures.
                        Outcome: The people were well informed and educated on the relevance of road safety.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-12 offset-md-2 col-md-8 d-flex align-self-stretch ftco-animate text-center">
               <div class="m12 block-6 d-block">
                  <div class="media-body">
                     <h3 class="heading mb-3">National Road Safety Commission</h3>
                     <p>
                        The Address company partnered with the National Road Safety Commission on activations of Road Safety Campaigns. The purpose of this was to drive consumer action through brand experiences and interactions. This was successfully achieved.
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-12 offset-md-2 col-md-8 d-flex align-self-stretch ftco-animate text-center">
               <div class="media block-6 d-block">
                  <div class="media-body">
                     <h3 class="heading mb-3">Nestle</h3>
                     <p>The Address company handled various project for Nestle Ghana ranging from activations, product launch to their corporate events.</p>
                  </div>
               </div>
          </div>
      
          <div class="col-12 text-center">
            <a href="/projects">Show More</a>
         </div>
         </div>
   </section>
</div>

<!-- our team -->
<%- include(`partials/team.partials.ejs`) %>
<!-- loader -->
<%- include(`partials/loader.partials.ejs`) %>
<!-- include the footer -->
<%- include(`partials/footer.partials.ejs`) %>