<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- secondary nav bar -->
<%- include(`partials/secondary_nav.views.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.views.ejs`) %>

<section class="ftco-section services-section">
   <div class="container">
        <div class="col-12  heading-section ftco-animate">
            <h2 class="mb-4">Previous Projects</h2>
            <p>
                Below is a list of various projects we have worked in the previous years for our clients.
            </p>
            <br>
        </div>
        
        <div class="col-12 ftco-animate">
        <div class="media block-6 d-block">
            <div class="line"></div>
            <div class="media-body">
                <h3 class="heading mb-3">MTN (Consumer Lens Project)</h3>
                <p>   Consumer lens radio, a subordinate of The Address company is an integrated Media platform that seeks to promote businesses and agencies by raising brand awareness and building engagement with the Ghanaian populace. With our presense in 34 radio stations across country coverage. SMEs and organizations have taken advantage of our platforms to get word out about their activities and eventually received the desired results. With this project, the company ran a program where resources persons of MTN addresses customers' challenges and concerns about their products and gather information to help improve the services of their brand.
                This has been running for the past 10 years for MTN.</p>
            </div>
        </div>
        </div>

        <div class="col-12 ftco-animate">
        <div class="media block-6 d-block">
            <div class="line"></div>
            <div class="media-body">
                <h3 class="heading mb-3">Total Ghana</h3>
                <p>
                As a company, we organized a general road safety campaign themed "Drive Alive" to educate station drivers, fire service personnel, road safety commission and MTTU (Motor Transport and Traffic Directorate) on road safety measures.
                Outcome: The people were well informed and educated on the relevance of road safety..
                </p>
            </div>
        </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">National Road Safety Commission</h3>
                    <p>
                    The Address company partnered with the National Road Safety Commission on activations of Road Safety Campaigns. The purpose of this was to drive consumer action through brand experiences and interactions. This was successfully achieved.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Silver Star</h3>
                    <p>
                    The Address company organized various different corporate events for Silver Star Tower. Also we handled the relaunch of their new logo. These projects were a success as the expectations of Silver Star were met.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Nestle</h3>
                    <p>
                    The Address company handled various project for Nestle Ghana ranging from activations, product launch to their corporate events.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Zenith Bank</h3>
                    <p>
                        We handled their corporate events and helped in their product launch.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">TG Holdings Group of Companies</h3>
                    <p>
                        We developed three website for the TG Holding Group of Companies. These websites were that of the Concrete Products Limited (CPL). Yaw Addo Developments Limited and TG Prints. Also we drafted a digital marketing plan and video script for Best Western Plus Hotel to help improve their online presence.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Kashe Xpress</h3>
                    <p>
                    The Address Company handles the graphic designs, branding needs and social media platforms of their company. Likewise, that of Kashe Pay.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 ftco-animate">
            <div class="media block-6 d-block">
                <div class="line"></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Event Management and Compering</h3>
                    <p>Your events can be your marks of excellence; and it can indelible! We blend the science
                        and art of event management to deliver excellence. The Address specialises in all kinds
                        of corporate events – staff durbar, end-of-year party, media soiree, exhibitions, product
                        launch etc. Whether outdoor or indoor, The Address can handle.</p>
                </div>
            </div>
        </div>
   </div>
</section>

<!-- loader -->
<%- include(`partials/loader.partials.ejs`) %>
<!-- include the footer -->
<%- include(`partials/footer.partials.ejs`) %>