<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- secondary nav bar -->
<%- include(`partials/secondary_nav.views.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.views.ejs`) %>

<section class="ftco-section services-section">
   <div class="container">
      <div class="row justify-content-center pb-5">
         <div class="col-md-6 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Services</h2>
         </div>
      </div>
      <div class="row d-flex">
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-web-programming"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Brand Development and Management</h3>
                  <p>Like a new-born baby, companies are born and bred. Let us do the thinking and action with
                     you on how to get your brand identity and image perfect, right from the scratch or at any
                     stage of growth. Companies are like human beings, their thoughts, actions and inactions are
                     judged by what people hear, see or feel about them. Therefore, your company needs to get
                     its footing right without missing. Let’s help you do brand development and enforcement,
                     brand audit and assessment, brand activation and reactivation.</p>
               </div>
            </div>
         </div>
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-stats"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Media Relations</h3>
                  <p>There are more active ways of relating with the media than just avoiding bad press.
                     Companies that discover the love language of the media, enjoy a good ‘marriage’
                     with them. Let’s show you how.</p>
               </div>
            </div>
         </div>
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-secure"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Corporate Sustainability Initiatives</h3>
                  <p>Every responsible company thinks and does something to show active care for humans and
                     the environment. The problem is, many companies either don’t show any care at all, or don’t
                     know what kind of care to show in order to positively affect their operations and bottom-line.</p>
               </div>
            </div>
         </div>
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-presentation"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Media Planning and Buying</h3>
                  <p>This is a key part of executing brand visibility. This is where the difference can be made.
                     Developing a pack of carefully selected media options that offer the right audience to
                     businesses is not an easy job, but we do it easily. We help our clients define their audience,
                     select the media, negotiate on their behalf, create an ad schedule and adhere to budget, as
                     agreed on with the clients.</p>
               </div>
            </div>
         </div>
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-presentation"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">Creative and Production Services</h3>
                  <p>At The Address, when we say creativity, we mean creativity with relevance. Our production
                     department has modern technologies and expertise to handle all forms of artworks and
                     videos in the traditional media, new media and anything in-between. We do</p>
                  <ul>
                     <li>Animation</li>
                     <li>Graphic designing</li>
                     <li>Responsive websites</li>
                     <li>Video(s)-for-marketing services</li>
                     <li>TV, press, radio and online copywriting and production</li>
                     <li>Production of marketing collaterals – banners, fliers, brochures, cards etc</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-presentation"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">UX/UI Strategy</h3>
                  <p>A small river named Duden flows by their place and supplies.</p>
               </div>
            </div>
         </div>
         <div class="col-12 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-block">
               <div class="line"></div>
               <div class="icon"><span class="flaticon-presentation"></span></div>
               <div class="media-body">
                  <h3 class="heading mb-3">UX/UI Strategy</h3>
                  <p>A small river named Duden flows by their place and supplies.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="ftco-section bg-light ftco-faqs">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 order-md-last">
            <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(images/about.jpg);">
            </div>
            <div class="d-flex mt-3">
               <div class="img img-2 mr-md-2 w-100" style="background-image:url(images/about-1.jpg);"></div>
               <div class="img img-2 ml-md-2 w-100" style="background-image:url(images/about-2.jpg);"></div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="heading-section mb-5 mt-5 mt-lg-0">
               <h2 class="mb-3">Frequently Asks Questions</h2>
            </div>
            <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
               <div class="card">
                  <div class="card-header p-0" id="headingOne">
                     <h2 class="mb-0">
                        <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                           <p class="mb-0">How can we help your business?</p>
                           <i class="fa" aria-hidden="true"></i>
                        </button>
                     </h2>
                  </div>
                  <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                     <div class="card-body py-3 px-0">
                        <ol>
                           <li>Far far away, behind the word mountains</li>
                           <li>Consonantia, there live the blind texts</li>
                           <li>When she reached the first hills of the Italic Mountains</li>
                           <li>Bookmarksgrove, the headline of Alphabet Village</li>
                           <li>Separated they live in Bookmarksgrove right</li>
                        </ol>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header p-0" id="headingTwo" role="tab">
                     <h2 class="mb-0">
                        <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                           <p class="mb-0">How long does it take to build a website?</p>
                           <i class="fa" aria-hidden="true"></i>
                        </button>
                     </h2>
                  </div>
                  <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="card-body py-3 px-0">
                        <ol>
                           <li>Far far away, behind the word mountains</li>
                           <li>Consonantia, there live the blind texts</li>
                           <li>When she reached the first hills of the Italic Mountains</li>
                           <li>Bookmarksgrove, the headline of Alphabet Village</li>
                           <li>Separated they live in Bookmarksgrove right</li>
                        </ol>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header p-0" id="headingThree" role="tab">
                     <h2 class="mb-0">
                        <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                           <p class="mb-0">Can I help your IT Solution for business?</p>
                           <i class="fa" aria-hidden="true"></i>
                        </button>
                     </h2>
                  </div>
                  <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="card-body py-3 px-0">
                        <ol>
                           <li>Far far away, behind the word mountains</li>
                           <li>Consonantia, there live the blind texts</li>
                           <li>When she reached the first hills of the Italic Mountains</li>
                           <li>Bookmarksgrove, the headline of Alphabet Village</li>
                           <li>Separated they live in Bookmarksgrove right</li>
                        </ol>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header p-0" id="headingFour" role="tab">
                     <h2 class="mb-0">
                        <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                           <p class="mb-0">What are those requirements for ITSolutions?</p>
                           <i class="fa" aria-hidden="true"></i>
                        </button>
                     </h2>
                  </div>
                  <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="card-body py-3 px-0">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- loader -->
<%- include(`partials/loader.partials.ejs`) %>
<!-- include the footer -->
<%- include(`partials/footer.partials.ejs`) %>