<!-- include the header -->
<%- include(`partials/header.partials.ejs`) %>
<!-- secondary nav bar -->
<%- include(`partials/secondary_nav.views.ejs`) %>
<!-- primary nav bar -->
<%- include(`partials/primary_nav.views.ejs`) %>

<div class="container">
    <div class="col-12 heading-section ftco-animate">
        <h2 class="mb-4">Our Team</h2>
        <p>Three qualities define our staff: passion, grit, speed,
            excellence. See the weight of the leaders of our
            dynamic, talented team.</p>
    </div>


    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Jabare Mahama (C.E.O)</h3>
                <p class="card-text">
                    Jabare Mahama is a creative professional with expertise in all aspects of
                    successful marketing, public relations, event planning and management.
                    He has expertise in managing multiple projects concurrently with strong
                    detail, problem solving, and follow-through capabilities and
                    demonstrated ability to manage and motivate cohesive teams that
                    achieve results, source vendors, negotiate contracts and manage budget.
                    He is a leader with excellent interpersonal and organizational skills
                </p>
            </div>
        </div>
    </div>

    

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Efua Falconer (C.O.O)</h3>
                <p class="card-text">
                    Efua is our Chief Operating Officer. She is a ‘big gun’ in the marketing communications
                    industry in Ghana. Having worked in top-notch companies for a combined period of 20
                    years, Efua has deep practical knowledge and experience to position brands from small
                    to big, enviably in the minds and hearts of their markets. Having worked in a huge
                    telecommunication company in Ghana and elsewhere, she has mastered the art of
                    blending cultural context with modernity to deliver the best possible value to all our
                    clients. You’ll love Efua’s contribution to our work for you.
                </p>
            </div>
        </div>
    </div>



    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Georgina Osei (C.P.O)</h3>
                <p class="card-text">
                    Georgina leads all our projects as the Chief Product Officer. She is assertive, a critical
                    thinker, and a planner. Georgina is well – rounded and brings to the table rare acumen
                    for excellence and value. She is great at developing and implementing growth
                    opportunities within and between organizations. Having worked over time in the area of
                    business development, sales, marketing and client management, Georgina has become
                    proficient at identifying sales leads, pitching services and products to clients and
                    creating long term value for companies. With astuteness, she oversees all our product –
                    related matters and maintains an in-depth focus on our diverse products’ objectives,
                    needs and success.
                </p>
            </div>
        </div>
    </div>



    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Taohead Aiwinnilomo (Media Head)</h3>
                <p class="card-text">
                    Taoheed is passionate about growth of brands and as such, seeks for opportunities to
                    uncover people's unconscious motivations and emotions behind their decisions and response
                    to advertising, products and services. He has over eight (8) years of industry experience.
                    Prior to joining The Address as a Media Account Manager, he worked with leading global
                    marketing research companies which include Kantar Millwardbrown and Ipsos. He has spent
                    time learning the important and critical logistics of executing successful projects as well as
                    synthesizing and analyzing of data across many qualitative research projects. He has worked
                    on projects for both local and international clients spanning from telecommunication (Airtel
                    Tigo, MTN, Vodafone and Etisalat), banking (Barclays Bank Ghana and ABSA) to other
                    FMCGs’ companies (Nestle, SAB Miller, Unilever, dkt International, Coca-Cola, Diageo,
                    Olam, Mondelez etc.) in most WestAfrican countries (especially Ghana and Nigeria with a
                    few francophone countries). His experience has empowered him with a deep understanding
                    of the dynamics in the West African market.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Eric Mensah (Head Of Finance)</h3>
                <p class="card-text">
                    Eric is very apt and has a high business acumen. He is skilled at creating forecasting models,
                    assessing risk in investments and ensuring all accounting activities comply with regulations.
                    His long-time experiences of crafting financial strategies and managing accounting teams has
                    contributed massively to the progress and value of the company. Eric can be termed as a
                    bellwether in financial matters
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Stephen Doe Hottor (Head Of Creative)</h3>
                <p class="card-text">
                    Stephen is the head of our talented Creative Department. Stephen himself is a creative
                    artist par excellence. He leads the charge when it comes to visual creativity in our
                    company. Having worked in the creative landscape in Ghana for nearly a decade, he has
                    gained uncommon experience and deft in handling anything visual for ‘heavyweight’
                    brands. His creative ideas and works are always a game-changer. This chap is adept in
                    bringing art to live. His passion is one – keeping clients satisfied at all times. This shows
                    in the commitment, dedication and love he brings to his work. Stephen is waiting to give
                    his best to your work.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Ogunsaya Demiola (Head for ICT for Business Department)</h3>
                <p class="card-text">
                    Here is our Head for ICT-for-Business Department. Ogunsaya is your guy when it comes
                    to using new and modern information and communication technology tools to forward
                    business. He produces websites, apps, software and anything in-between for business
                    visibility, continuity and success. Ogunsaya has thrilled our numerous clients with trendy,
                    functional ICT tools and techniques. Up to date, the work he produced for some of our
                    clients are still receiving global rave reviews. Though he is a hot cake on the market, The
                    Address has managed to keep him with us in order to produce excellent works for
                    businesses like yours. His nearly 10 years of wide-ranging experience will be of great
                    benefit to your job.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Kwabena Eddie Mankata (Head Of Production)</h3>
                <p class="card-text">
                    Kwabena leads the production and business affairs departments in delivering exceptional
                    and effective creative output for The Address. He is a well-seasoned cinematographer
                    with extensive experience in script-writing, directing and screenplay. He had written and
                    directed pieces all across Africa, many of which have received recognition and awards,
                    such as the Bets film / Video story Black International Cinema XXXII. He has held various
                    senior and executive positions in digital. Entertainment, media and advertising
                    businesses.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Leonard R. Prince Ashiagbor - (Head of Technology)</h3>
                <p class="card-text">
                    Leonard is the head of technology for The Address. He is highly specialized in analyzing,
                    advising and developing solutions for institutions and organizations with the best
                    applicable technologies. He is tasked with studying technology solutions to make
                    recommendations for the agency’s architecture and how work should get done efficiently.
                    Leonard has worked in ensuring quality assurance, managing e-payment solutions of
                    various companies in the financial services sector, contributing to the development of
                    school ID systems and e-Government projects. His expertise has helped create products
                    that not only disrupt assumptions around pricing, value and seamless delivery, but also
                    run at true web scale without sacrificing high reliability.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Sethina Nerteley Nettey (Head of Human Resource)</h3>
                <p class="card-text">
                    Sethina is the head of Human Resource for The Address. She is responsible for
                    developing and implementing human resource strategies and initiatives aligned with the
                    overall strategy of our company. She is very shrewd in bridging management and
                    employee relations by addressing demands, grievances or other issues. Sethina has been
                    very instrumental in the progress of the company.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Oluwayemisi Erinle (Digital Content Strategist)</h3>
                <p class="card-text">
                    Oluwayemisi Erinle is a Published Author and Digital Content Strategist. She is an
                    information scientist who has amassed a vast experience in marketing strategy, text and
                    video content development and digital marketing working with companies and brands of
                    various industries ranging from dairy, fashion and beauty, to real estate, banking and
                    insurance to name a few.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Gideon Mensah (Animator)</h3>
                <p class="card-text">
                    Gideon Mensah create films for production companies, major animation studios and
                    computer games companies. He works creatively to produce original and aesthetically
                    pleasing designs and solutions using specialist computer generation software such as
                    Maya, Flash and After Effects for our clients. Gideon goes great extent to research
                    upcoming projects to help create realistic designs or animation, edit animation and effects
                    on the basis of feedback from our clients.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="rounded" style="width: 100%; height: auto; margin-top: 35px;" src="/images/testimony-1.jpg" alt="...">
            </div>
            <div class="col-12 col-md-9 card-body">
                <h3 class="heading mb-3">Gertrude Amoah (Client Service Manager)</h3>
                <p class="card-text">
                    She serves as a liaison between the company and our clients, ensuring excellent
                    customer service and client satisfaction. Her excellent communication and negotiation
                    skills helps in managing client relationships. In addition to this, she develops account
                    plans, and deliver proposals. With her high interpersonal skills and organized approach to
                    work, Clients enjoy relating with her.
                </p>
            </div>
        </div>
    </div>

</div>

<!-- loader -->
<%- include(`partials/loader.partials.ejs`) %>
<!-- include the footer -->
<%- include(`partials/footer.partials.ejs`) %>